.composition {
    position: relative;
    &-photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color: $color-black, $alpha: .4);
        border-radius: .2rem;
        position: absolute;
        z-index: 10;
        transition: all .5s;
        outline-offset: .2rem;
        &-p1 {
            top: 0rem;
            left: 0;
        }
        &-p2 {
            top: 15rem;
            left: 6rem;
        }
        &-p3 {
            top: 2rem;
            right: 0;
        }
        &:hover {
            outline: .3rem solid $color-primary-gold-dark;
            transform: scale(1.8);
            box-shadow: 0 2rem 4rem rgba($color: $color-black, $alpha: 1.0);
            z-index: 20;
        }
    }
    &:hover &-photo:not(:hover){
        transform: scale(.95);
    }

    @include respond(tabletport) {
        display: none;
    }
}