/*
COLORS:
red: #dd1c1d
Golden Dark: #daa42a
Golden Light: #ffe327

*/

$beige: #f7f7f7;
$mainYellow: #0094da;
$mainBlue: #0071bb;
$lightOrange: #EE964B;
$darkOrange: #F95738;

// Colors
$color-primary-red: #dd1c1d;
$color-primary-gold-dark: #daa42a;
$color-primary-yellow-light: #ffe327;
$color-grey: #777;
$color-grey-light: #f7f7f7;
$color-grey-light-1: #999;
$color-grey-dark-1: #333;

$color-primary-green: #55c57a;


$color-white: #fff;
$color-black: #000;


// Font
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;

// $grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 4rem;
$gutter-horizontal: 6rem;
$gutter-horizontal: 3rem;