/*
COLORS:
red: #dd1c1d
Golden Dark: #daa42a
Golden Light: #ffe327

*/
$color-primary-blue: #0071bb;
$color-secondary-blue-: #0094da;

$color-primary-orange: #F95738;
$color-secondary-orange: #EE964B;


// Colors
$color-primary-red: #dd1c1d;

$color-primary-gold: #daa42a;
$color-primary-yellow: #ffe327;

$color-primary-grey: #777;
$color-secondary-grey-dark: #333;
$color-secondary-grey-light: #999;
$color-grey-light: #f7f7f7;

$color-primary-green: #55c57a;

$color-white: #fff;
$color-black: #000;

// Font
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;

// $grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 4rem;
$gutter-horizontal: 6rem;
$gutter-horizontal: 3rem;