<!-- about-content.html-->
<main role="main" class="container">
    <div class="mt-5">
        <div class="jumbotron p-5">
            <div class="container">
                <p class="lead">
                    "ยินดีต้อนรับสู่เว็บไซร์ของ GoGolang.co
                    เว็บไซร์อยู่ในช่วงการจัดทำและพัฒนาด้วยภาษาโก (golang)
                    โดยมีเป้าหมายเพื่อเรียนรู้และให้ความรู้ในการพัฒนา เว็บแอพพลิเคชั่นด้วยภาษาโก
                    ตั้งแต่เบื้องต้นจนถึงการนำขึ้นโฮสในเซิร์ฟเวอร์แบบต่างๆ
                    คุณสามารถเข้ามาเยี่ยมชมเว็บไซร์ของเราได้ทุกวันเพื่อติดตามความเคลื่อนไหวเปลี่ยแปลงของเว็บไซร์
                    คุณจะได้เห็นทิศทางการพัฒนาและลำดับขั้นตอนในการพัฒนาที่ต่อเนื่อง โดยเราจะพยายามเขียนบทความ
                    ในทุกช่วงทุกขั้นตอนในระหว่างการพัฒนาเว็บไซร์แห่งนี้ โดยร่วมถึง การพบเจอปัญหา และการแก้ปัญหา
                    โดยหวังว่าจะเป็นประโยชน์ต่อผู้เยียมชม ที่เริ่มเรียนรู้ภาษาโกเพื่อพัฒนาต่อยอดต่อไป."
                    <br />
                    <br />
                <p class="lead text-center">
                    <b>"โกโกแลง"</b> ขอบคุณครับ
                </p>
            </div>
        </div>
        </p>

        <div class="mt-5">
            <div class="jumbotron p-5">
                <div class="container">
                    <p class="lead text-center text-small">
                    <footer class="blockquote-footer">
                        ***หมายเหตุ: โปรดทราบ ผู้จัดทำเว็บไซร์เองนั้นก็พึ่งได้เริ่มเรียนรู้ภาษาโก
                        และสร้างเว็บแอพพลิเคชั่นด้วยภาษาโกเว็บนี้เป็นเว็บแรก
                        ดังนั้นสิ่งที่ปรากฏในเว็บไซร์ ในบทความต่างๆ วิธีการ จึงอาจไม่ใช่สิ่งที่ถูกต้องหรือดีที่สุด
                        กรุณาใช้วิจารณญาณในการเรียนรู้ และศึกษาค้นคว้าข้อมูลเพิ่มเติม
                        เพื่อค้นหารูปแบบของตัวเองต่อไปด้วยตัวท่านเองจึงจะเป็นสิ่งที่ดีที่สุด.
                        ขอให้สนุกกับการเรียนรู้สิ่งใหม่ๆ อยู่เสมอครับ.
                    </footer>
                    </p>

                </div>
            </div>
        </div>
    </div>
</main>