.header {
    height: 100vh;
    /* background-image: linear-gradient(to right bottom, rgba(218,25,26, 0.8), rgba(245,81,30, 0.8)), url(./../img/fresh-edible-bird-s-nest.jpg); */
    background-image: linear-gradient(to right bottom, rgba($color-grey, 0.2), rgba($color-grey-light, 0.2)), url(./../img/samui-birds-nest-top-002.png);
    background-size: cover;
    background-position: center;
    position: relative;

    //clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100% );

    &__logo-box {
    position: absolute;
    top: 4.5rem;
    left: 4rem;
   
    }
    &__logo {
        height: 10rem;
        //position: fixed;
        //z-index: 1000001;
    }

    &__text-box {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;

    }

}

