.section-connect {
    padding: 15rem;
    background-image: linear-gradient(to right bottom, $color-grey-light-1, $color-grey);

     @include respond(tabletport){
        padding: 5rem;
    }

    
}

.connect {
    background-image:linear-gradient(105deg, 
                                    rgba($color-primary-gold-dark, .9) 0%,  
                                    rgba($color-primary-gold-dark, .9) 50%, 
                                    transparent 50%,
                                    ), 
                                    url(./../img/samui-birds-nest-ingredient.jpg);
    background-size: cover;
    box-shadow: 0 1.5rem 4rem rgba($color: #000000, $alpha: .4);
    height: 50rem;
    border-radius: 3px;

    &-form {
        padding: 5rem 10rem;
        color: $color-grey-light;
        font-size: 2rem;

       @include respond(tabletport){
        padding: 5rem 5rem;
    }

    }
}